  <div>
    <script>window.twttr = (function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0],
        t = window.twttr || {};
      if (d.getElementById(id)) return t;
      js = d.createElement(s);
      js.id = id;
      js.src = "https://platform.twitter.com/widgets.js";
      fjs.parentNode.insertBefore(js, fjs);
     
      t._e = [];
      t.ready = function(f) {
        t._e.push(f);
      };
     
      return t;
    }(document, "script", "twitter-wjs"));</script>

    <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">“You believe that easily which you hope for earnestly.”&#10;Terence</p>&mdash; Philosophy Tweets (@philosophytweet) <a href="https://twitter.com/philosophytweet/status/672117537178566656">December 2, 2015</a></blockquote>
    <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>

    <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">Hint of a rainbow at <a href="https://twitter.com/hashtag/magnaball?src=hash">#magnaball</a> <a href="http://t.co/YJqV6eHTU0">pic.twitter.com/YJqV6eHTU0</a></p>&mdash; Tom Marshall (@TomMarshall111) <a href="https://twitter.com/TomMarshall111/status/634511532563558401">August 20, 2015</a></blockquote>
    <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
    

</div>